body {
	
	background:#0099B7;
	
	}
	
#page-wrapper {
	max-width:90%;
	border:5px solid black;
	margin:0px auto;
	background:white;
	border-radius:5px;
	margin-top:30px;
	overflow:hidden;
	}
	
section {
	width:31.25%; /*300px*/
	float:left;
	margin-right:1.041667%;
	margin-top:13px;
	}
	
#info > p{
	padding:1.041667em;
	font-size:1.25em;
	}
	
#flyer {
	float:left;
	width:31.25%;/*300px;*/
	height:77.777778%;/*700px;*/
	padding:2.08333em;
	}
	
h1{
	text-align:center;
	}
	
aside{
	float:left;
	width:20.833333%;
	background:#00C1B7;
	margin-top:33px;	
	}
	
li {	
	font-size:1.5em;
	padding:1.041667em;
	}
	
#info{
	background:#0099B7;
	
	}
	
#content {
	margin-left:07.458333%;
	}
	
img {
	max-width:100%;
	}
	
/*** Media Queries ***/

/*** Tablet Portrait**/

@media (min-width: 768px) and (max-width: 959px) { 
		#page-wrapper{
			background:red;
			}
				
		#flyer {
		float:left;
		width:50.25%;
		height:77.777778%;/*700px;*/
		padding:2.08333em;
			}
	
		section {
		width:36.25%; /*300px*/
		float:left;
		
		margin-top:13px;	
			}
			
		aside{
		float:left;
		width:43.833333%;
		background:#00C1B7;
		margin-top:-370px;
		margin-bottom:20px;
		padding-right:4.041667em;
			}			
			

}

/*** Phone Landscape**/
@media only screen and (min-width: 480px) and (max-width: 767px){ 
		#page-wrapper{
			background:blue;
			}	

		#flyer {
		float:left;
		width:40.25%;
		height:77.777778%;/*700px;*/
		padding:2.08333em;
			}
	
		section {
		width:40.25%; /*300px*/
		float:left;
		
		margin-top:13px;	
			}
			
		aside{
		float:left;
		width:40.833333%;
		background:#00C1B7;
		margin-top:-890px;
		margin-bottom:20px;
		
		margin-left:3.041667%;
			}
			

}

/*** Phone Portrait**/
@media screen and  (max-width: 479px) { 
		#page-wrapper{
			background:green;
			}
			
		#flyer {
		float:none;
		width:75.25%;/*300px;*/
		height:77.777778%;/*700px;*/
		padding:2.08333em;
		
		
			}
	
		section {
		width:75.25%; /*300px*/
		float:none;
		padding:2.08333em;
		
			
			}
			
		aside{
		float:none;
		width:75.833333%;
		background:#00C1B7;
		padding:2.08333em;
		margin-bottom:20px;
		
			}	



}

