/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
.main_box{
	width:80%;
	
	overflow:hidden;
	margin:0px auto;
	margin-bottom:20px;
	}

#header_container {
	width: 69.444444%;/*800px / 1152;*/
	height:200px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:130px;
	}
	
#phone{
	width:100%;  /*300px;*/
	height:81.333333%; /*244px;*/	
	}
	
.third {
	float:left;
	width:26.041667%;  /*300px;*/
	height:300px;
	border-right: 2px solid gray;
	margin-top: 30px;
	margin-left: 6.944444%; /*80px;*/
	margin-bottom:30px;
	}
	
.third_two {
	float:left;
	width:46.006944%; /*530px;*/
	height:300px;
	margin-top: 30px;
	margin-left:6.944444%; /*80px;*/
	margin-bottom:30px;
	
	}
section p {
	padding:.8680556em; /*10px;*/
	font-family:Helvetica;
	}	

#header_button {
	width:26.041667%; /*300px;*/
	height100px;
	position:relative;
	top:150px;
	left:1.736111em; /*20px;*/
	}
	
#header-img{
	position:relative;
	z-index:-1;
	}
	
img{
	
	}	

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		
		}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		
			/*body{
				background:blue;
				}*/
				
			.third_two {
				left:10.416667em; /*120px;*/
				margin:0px auto;
				position:relative;
				width:34.722222%; /*400px;*/	
				margin-top:70px;
							
				}
				
			.third {
				border-right:none;
				margin: 0px auto;
				position:relative;
				float:left;
				}
				
			#phone {
				
				width:26.041667em; /*300px;*/
				height:244px;
				margin-top:70px;
				
			
				}
				
			#header-img {
				width:60.763889&; /*700px;*/
				height:175px;
				}	
				
			#header_container {
				margin: 0px auto;
				}	
				
			#header_button {
				width:17.361111em;/*200px;*/
				height:77px;
				}	
					
		}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		
		
		
		}
	
	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		
		/*	body{
				background:red;
				}*/
			.third_two {
				left:10.416667em; /*120px;*/
				margin:0px auto;
				position:relative;
				width:17.361111em; /*200px;*/	
				margin-top:70px;			
				}
				
			.third {
				border-right:none;
				margin: 0px auto;
				position:relative;
				float:left;
				}
				
			#phone {
				
				width:21.701389em; /*250px;*/ 
				height:203px;
				margin-top:70px;
				
			
				}
				
			#header-img {
				width:41.666667em; /*480px;*/
				height:120px;
				}	
				
			#header_container {
				margin: 0px auto;
				}	
				
			#header_button {
				width:13.020833em; /*150px;*/
				height:67px;
				position:relative;
				top:100px;
				}					
				
		}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
			/*body{
				background:green;
				}*/
				
			.third_two {
				clear:left;
				left:6.680556em; /*100px;*/ 
				margin:0px auto;
				position:relative;
				width:17.361111em; /*200px;*/	
				margin-top:70px;			
				}
				
			.third {
				border-right:none;
				margin: 0px auto;
				position:relative;
				left:40px;
				}
				
			#phone {
				
				width:26.041667em; /*300px;*/
				height:244px;
				margin-top:70px;
				
				
			
				}
				
			#header-img {
				width:30.666667em; /*480px;*/
				height:120px;
				}	
				
			#header_container {
				margin: 0px auto;
				}	
				
			#header_button {
				width:13.020833em; /*150px;*/
				height:67px;
				position:relative;
				top:100px;
				}									
		}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/